<div>
<a routerLink="/register">Register</a>
<a routerLink="/dashboard">Dashboard</a>
</div>
<br/>
<div style="text-align:center;">
  <form [formGroup]="loginForm">
    <label for="InputEmail">Email Id</label>
    <input formControlName="email" type="email" name="email" placeholder="Email Id">
    <br/>
    <label for="Inputpassword">Password</label>
    <input formControlName = "password" type="password" name="password" placeholder="Password">
    <br/>
    <button (click)="login()">Log In</button>
    <button (click)="movetoRegister()">Register</button>
  </form>
<!--<nav>
  <a routerLink="/dashboard">Login</a>
</nav>-->
</div>